
.container{
    margin-bottom: 80px;
}

.banner-bg{
    background-color: #feeae9;
    border-radius: 10px;
}

.buy-btn{
    cursor: pointer;
    background-image: linear-gradient(#f05892, #FF136F) ;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    color: #fff;
}

.carousel-item{
 padding: 20px 40px;
}

.price-info{
    color: #FF136F;
}

.cat1, .cat2 , .cat3{
 padding: 10px 30px;
 border-radius: 10px;
}
.cat1{
    background-image: linear-gradient(90deg,orange,rgb(241, 177, 58));
}
.cat2{
    background-image: linear-gradient(90deg,#FF136F,#f52b79);
}
.cat3{
    background-image: linear-gradient(90deg,blue,rgb(41, 41, 248));
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}
